.header {
  width: 100%;
  height: 3vh;
  background-color: #30110D;
  margin-top: 0;
  padding: 15px 0px 15px 0px;
}

.navigation{
  text-align: left;
}

.navigation a{
  margin: 30px;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-family: georama;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navigation a:hover{
  border-bottom: 1px solid white;
}

body {
  margin: 0;
  font-family: roboto;
  text-align: center;
  background-color: #FAF1CC;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#about_me{
  width: 40%;
  display: inline-block;
  margin-top: 20px;
}

.about_me_header h1{
  color: #722620;
  text-transform: uppercase;
  font-family: noto sans jp;
}

.contact_info_header h1{
  color: #722620;
  text-transform: uppercase;
  font-family: noto sans jp;
}
#contact_info{
  margin-bottom: 5vh;
}

#contact_info a{
  margin: 0 10px;
}

.image{
  position: relative;
}

#portfolio h1{
  color: #722620;
  text-transform: uppercase;
  font-family: noto sans jp;
}

#resume h1{
  color: #722620;
  text-transform: uppercase;
  font-family: noto sans jp;
}

footer{
  position: relative;
  margin-top: -0vh;
  width: 100%;
  background-color: #EBE3C0;
  font-family: noto sans jp;
}

.name{
  color: #722620;
  text-transform: uppercase;
  font-family: noto sans jp;
}

.projects{
  display: flex;
  flex-wrap: wrap;
}

.projectBlock{
  position: relative;
  width: 42vw;
  height: 40vh;
  margin: 2vh 3.5vw;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex
}

.pictureLogo{
  margin: 1vh;
}

.content h2{
  color: #722620;
  font-family: noto sans jp;
  text-decoration: none;
}

.content .textDescription{
  width: 20vw;
  margin: 20px;
}
